= raw @page_content


/ body id="#{@page.div}" class=""
/   = raw "#{Hicube::Markdown.render(@header).html_safe}"
/   = raw "#{Hicube::Markdown.render(@page_content).html_safe}"


/ = raw ::Slim::Template.new("#{Rails.root}/tmp/page.slim").render

